<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>MODAC</h1>
        <P>커뮤니티</p>
      </div>
    </div>
  </body>
</html>
